<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.song.dailytime.dailytime.dao.UserDaoMapper">
    <resultMap id="BaseResultMapForUser" type="com.song.dailytime.dailytime.Entity.UserVO">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <id column="username" property="username" jdbcType="VARCHAR"/>
        <id column="password" property="password" jdbcType="VARCHAR"/>
        <id column="email" property="email" jdbcType="VARCHAR"/>
        <id column="telephone" property="telephone" jdbcType="VARCHAR"/>
        <id column="lastLoginTime" property="lastLoginTime" jdbcType="VARCHAR"/>
        <id column="registerTime" property="registerTime" jdbcType="VARCHAR"/>
        <id column="address" property="address" jdbcType="VARCHAR"/>
        <id column="birthday" property="birthday" jdbcType="VARCHAR"/>
        <id column="userrole" property="userRole" jdbcType="VARCHAR"/>
    </resultMap>

    <insert id="registerOneUserRecord" parameterType="com.song.dailytime.dailytime.Entity.UserVO" useGeneratedKeys="true" keyProperty="id">
        insert into `user` (id,username,password,email,telephone,registerTime,address,birthday) values (#{id},#{username},#{password},#{email},#{telephone},#{registerTime},#{address},#{birthday});
    </insert>

    <select id="userLogin" resultType="com.song.dailytime.dailytime.Entity.UserVO">
        select * from `user` where username=(#{username}) and password=(#{password});
    </select>

    <select id="queryUserList" resultType="java.util.HashMap">
        select * from `user`;
    </select>

    <delete id="deleteUserById" parameterType="String">
        delete from `user` where id=#{id};
    </delete>

    <update id="updateUserLastLoginTime" parameterType="com.song.dailytime.dailytime.Entity.UserVO">
        update `user` set lastLoginTime=(#{lastLoginTime}) where id=(#{id});
    </update>

    <update id="updateUserInfo" parameterType="com.song.dailytime.dailytime.Entity.UserVO">
        update `user` set username=#{username},email=#{email},telephone=#{telephone} where id=#{id};
    </update>

    <select id="selectUserInfoById" resultType="com.song.dailytime.dailytime.Entity.UserVO">
        select * from `user` where id=#{id};
    </select>
</mapper>