<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>RoyalUI Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="../static/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="../static/vendors/base/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="../static/css/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="../static/images/favicon.png"/>
</head>

<body>
<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper d-flex align-items-center auth px-0">
            <div class="row w-100 mx-0">
                <div class="col-lg-4 mx-auto">
                    <div class="auth-form-light text-left py-5 px-4 px-sm-5">
                        <div class="brand-logo">
                            <img src="../static/images/logo.svg" alt="logo">
                        </div>
                        <h4>新账户?</h4>
                        <h6 class="font-weight-light">简单注册. 只需一下几个步骤</h6>
                        <form class="pt-3">
                            <div class="form-group">
                                <input type="text" class="form-control form-control-lg" name="username" id="username"
                                       placeholder="Username">
                            </div>
                            <div class="form-group">
                              <input type="text" class="form-control form-control-lg" id="password"
                                     placeholder="Password">
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control form-control-lg" id="email"
                                       placeholder="Email">
                            </div>
                            <div class="form-group">
                              <input type="text" class="form-control form-control-lg" id="telephone"
                                     placeholder="Telephone">
                                <!--<select class="form-control form-control-lg" id="telephone">
                                    <option>Country</option>
                                    <option>United States of America</option>
                                    <option>United Kingdom</option>
                                    <option>India</option>
                                    <option>Germany</option>
                                    <option>Argentina</option>
                                </select>-->
                            </div>
                            <div class="mb-4">
                                <div class="form-check">
                                    <label class="form-check-label text-muted">
                                        <input type="checkbox" class="form-check-input" id="agree">
                                        同意相关协议
                                    </label>
                                </div>
                            </div>
                            <div class="mt-3">
                                <button class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn"
                                        onclick="registerOneUser()">注 册</button>
                            </div>
                            <div class="text-center mt-4 font-weight-light">
                                已有账户? <a href="../templates/login.html" class="text-primary" onclick="login()">Login</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- content-wrapper ends -->
    </div>
    <div>
        <h3>Response-</h3>
        <div id="response-panel"></div>
    </div>
    <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
<!-- plugins:js -->
<script src="../static/vendors/base/vendor.bundle.base.js"></script>
<!-- endinject -->
<!-- inject:js -->
<script src="../static/js/off-canvas.js"></script>
<script src="../static/js/hoverable-collapse.js"></script>
<script src="../static/js/template.js"></script>
<script src="../static/js/todolist.js"></script>
<script src="../static/js/jquery-3.1.1.js"></script>
<!-- endinject -->
<script>
    var _response = $('#response-panel');
    function login() {
        $(location).attr('href', 'http://localhost:8080/login.html');
    }
    function registerOneUser() {
        var dataSet = new Object();
        var data= {
            username: $("#username").val(),
            password: $("#password").val(),
            email: $("#email").val(),
            telephone: $("#telephone").val()
        };
        /*dataSet.username =$("#username").val();
        dataSet.password =$("#password").val();
        dataSet.email =$("#email").val();
        dataSet.telephone=$("#telephone").val();*/
        $.ajax({
            type: 'POST', // method
            url: 'register',
            //url       : 'list?username=kdevkr&password=kdevpass', //
            async: 'true', // true
            data: JSON.stringify(data), //
            processData: true, //
            contentType: 'application/json', //
            //dataType  :
            success: function (data, status, xhr) {
                responseJson(data);
            },
            error: function (error) {
                console.log("error", error);
                responseError(error);
            }
        });
    }
    function responseJson(data){
        _response.html(convertJson(data));
    }

    function responseError(data){
        _response.html(data.responseText);
    }
</script>
</body>

</html>
